<meta property="og:title" content="{{ .Title }}" />
{{ with .Site.Params.meta.description -}}
<meta property="og:description" content="{{ . }}" />
{{- end }}
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta name="image" property="og:image" content="https://live.staticflickr.com/65535/51117815388_f7d2a08346_k.jpg" />
{{ with .Site.Params.meta.images }}
  {{- range first 6 . -}}
 <meta name="image" property="og:image" content="https://live.staticflickr.com/65535/51117815388_f7d2a08346_k.jpg" />
  {{- end -}}
{{- end }}
